
html, body, .container
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

@font-face
{
	font-family: "Custom";
	src: url('assets/fonts/LatoLatinThin-Regular.woff') format('woff'); /* Modern Browsers */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

.box
{
	opacity: 0.75;
	color: white;
	text-shadow: 0.05em 0.05em 0.1em black;
	font-family: "Custom";
	text-align:center;
	position: fixed;
	left: 50%;
	-webkit-user-select: none;
}

.box.time
{
	font-size: 5vmax; 
	top: 40%;
	transform: translate(-50%, -50%);
}

.box.date
{
	font-size: 2vmax;
	width: 75%;
	top: 65%;
	transform: translate(-50%, -50%);
}

.credit
{
	font-family: "Custom";
	font-size: 3vmin;
	position: fixed;
	bottom: 2%;
	left: 2%;
}

.credit a:link, a:active, a:visited, a:hover
{
	color: white;
	text-decoration: none;
}

#settings
{
	width: 32px;
	height: 32px;
	position: fixed;
	bottom: 2%;
	right: 2%;
}

/* on first load, opactiy becomes 0.5 for the entire container */
.container
{
	opacity: 0;
	transition: opacity 0.5s;

	/*background-color: white;*/
}

/*
.container:hover
{
	opacity: 0.7;
}
*/

.nav
{
	/*
	opacity: 0;
	transition: opacity 0.25s;
	*/
	cursor: pointer;
	position: fixed;
	top: 50%;
}

/*
.nav:hover
{
	opacity: 1;
}
*/

#next
{
	right: 0%;
}

#prev
{
	left: 0%;
}

body
{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	-webkit-font-smoothing: antialiased;
	transition: background 0.5s;
}